#form-inscription {
  margin-top: 5em;
  margin-bottom: 2em;
  width: 30%;
  margin-left: 33%;
  padding : 2em;
  opacity:2;
}
#form-inscription.border {
  background-color: #ffffff;
  box-shadow: 10px 10px 8px #000000;
  opacity:0.8;
}



body{
	background-image:url("Views/images/co.jpg");
	background-size: 2000px 1000px;
	background-repeat: no-repeat;
	
}
#form-house {
  margin-top: 3em;
  margin-bottom: 2em;
  width: 60%;
  margin-left: 20%;
  padding : 1.6em;
}

.btn-primary{
  width:100%;
}

.form-group{
  margin-top: 0;
}
.infos-persos{
  text-align: center;
}



.logonav2{
  position: absolute;
  height: 61px;
  left: 10px;
  top: 20px;
  opacity:1;
}

nav {
  font-family: Arial;
    background: rgba(255,255,255,0);
    overflow: hidden;
    z-index: 2;
    overflow: hidden;
}

nav ul{
  float: right;
  margin: 0;
  padding: 0;
  display: flex;

}

nav ul li{
  list-style: none;
}

nav ul li a{
  line-height: 60px;
  color:  #000000;
  padding: 5px 20px;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  transition: .5s;
  color:#A58D8F;
}
