body {
  
  margin: 0;
}

* {
  box-sizing: border-box;
}

.logonav{

  position: absolute;
  height: 60px;
  left: 10px;
  top: 20px;
  transition: 0s;
  opacity: 1;
}

.logonav2{
  position: absolute;
  height: 61px;
  left: 10px;
  top: 20px;
  transition: 0s;
  opacity:0;
}


nav.black .logonav{
  position: absolute;
  height: 60px;
  left: 10px;
  top: 20px;
  opacity: 0;
}

nav.black .logonav2{
  position: absolute;
  height: 61px;
  left: 10px;
  top: 20px;
  opacity:1;
}


nav.black .logonav{
  background-position: 0 -60px;
}

nav {
  font-family: Arial;
    background: rgba(255,255,255,0);
    overflow: hidden;
    z-index: 2;
    overflow: hidden;
}

nav ul{
  float: right;
  margin: 0;
  padding: 0;
  display: flex;

}


nav ul li{
  list-style: none;

}


nav ul li a{
  line-height: 60px;
  color:  #FFFFFF;
  padding: 5px 20px;
  text-transform: uppercase;
  text-decoration: none;
}


.login{
  border: 2px solid ;
  border-radius:  3px;
  border-color: white;
}


nav.black{
  background: rgba(255,255,255,0.8);
  transition: 2.5s;
}

nav.black ul li a{
  line-height: 60px;
  color:  #262626;
  padding: 5px 20px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 2.5s;
}

nav.black .login{
  border: 2px solid ;
  border-radius:  3px;
  border-color: black;
}



nav.black a:hover {
  transition: .5s;
  color:#A58D8F;
}


nav a:hover {
  transition: .5s;
  color:#FAE6E6;
}


/* Add a black background color to the top navigation */
nav  {
  width: 100%;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding:20px 50px;
  box-sizing: border-box;
  transition: .5;
}







#slide{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-image: url("images/accueil_1.jpg");

 }




.foot ul{

  margin: 0;
  padding: 0;
  display: flex;
  text-transform: unset;
  text-decoration: none;

}

.foot ul li{
  list-style: none;

}


.foot ul li a{
  float: left;
  line-height: 60px;
  color:  #A58D8F;
  padding: 5px 20px;
  text-decoration: none;
}



.foot ul li a.contract{
  float: right;
  line-height: 60px;
  color:  #A58D8F;
  padding: 5px 20px;
  text-decoration: none;
}



.title{
  display: block;
  color: white;
  height: 15px; 
  text-align:center; 
  line-height:200px;
  font-family: 'Quicksand', sans-serif;
  font-size:70px; 
  text-shadow: 0px 0 0 #000, -0px 0 0 #000, 0 0px 0 #000, 0 -0px 0 #000, 0px 0px #000, -0px -0px 0 #000, 0px -0px 0 #000, -0.5px 0.5px 0 #000;
  
}


.subtitle{
  display: block;
  color: white;
  height: 15px; 
  text-align:center; 
  line-height:250px;
  font-family: 'Quicksand', sans-serif;
  font-size:20px;
    text-shadow: 0.5px 0 0 #000, -0.5px 0 0 #000, 0 0.5px 0 #000, 0 -0.5px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;


}



/* Réglages bloc description et suggestions */
.service {
  text-align: center;
  font-family: 'Quicksand', sans-serif;

  background-color: #F1F1F1;
}
/* Réglages titre description */
.service #titre {
  margin-top: 0px;
  margin-bottom: 0px;

  padding-top: 80px;
  padding-bottom: 50px;

  font-size: 40px;
}
/* Réglages paragraphe description */
.service #description {
  font-size: 23px;

  margin-top: 0px;
  margin-bottom: 0px;

  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 80px;
}


.suggestions {
  text-align: center;
  font-family: 'Quicksand', sans-serif;

  background-color: white;
}
/* Réglages bloc suggestions */
.suggestions #titre2 {
  margin-top: 0px;
  margin-bottom: 0px;

  padding-top: 50px;
  padding-bottom: 50px;

  font-size: 35px;
}

/* carrousel */
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}